/**
 * FOOTER THEMING
 */

.footer {
  background-color: $footer-grey;
  border-top: 3px solid $white;
  color: $white;
  text-align: center;

  h2 {
    font-weight: $font-weight-thin;
  }

  @include at-breakpoint($tablet-landscape) {
    font-size: 0.9em;
  }

  .contact-info {
    @include span-columns(12);
    border-bottom: 1px solid #777;
    padding-bottom: 30px;

    strong {
      font-weight: $font-weight-medium;
    }

    @include at-breakpoint($phone-landscape) {
      @include span-columns(6,12);
      border: none;
    }

    @include at-breakpoint($tablet-portrait) {
      @include span-columns(4,12);
    }

    @include at-breakpoint($tablet-landscape) {
      @include span-columns(3,12);
      text-align: left;
    }

  }

  .footer-nav {
    @include span-columns(12);
    border-bottom: 1px solid #777;
    padding-bottom: 30px;

    li {
      margin-bottom: 15px;

      &.last {
        margin-bottom: 0;
      }
    }

    @include at-breakpoint($phone-landscape) {
      @include span-columns(6 omega,12);
      border: none;

      li {
        margin-bottom: 10px;
      }
    }

    @include at-breakpoint($tablet-portrait) {
      @include span-columns(4,12);
    }

    @include at-breakpoint($tablet-landscape) {
      @include span-columns(2,12);
      text-align: left;
      li {
        margin-bottom: 0;
      }
    }
  }

  .social-links {
    @include span-columns(12);
    margin: 30px 0 20px 0;

    @include at-breakpoint($phone-landscape) {
      border-top: 1px solid #777;
      padding-top: 20px;
    }

    @include at-breakpoint($tablet-portrait) {
      @include span-columns(4 omega,12);
      border-top: none;
      padding-top: 30px;
    }

    @include at-breakpoint($tablet-landscape) {
      @include span-columns(3,12);
      margin: 0;
      margin-top: 155px;
      padding: 0;
    }
  }

  .copyright {
    @include span-columns(12);
    font-size: 0.8em;
    padding-bottom: 20px;

    span {
      display: block;
    }

    .pipe {
      display: none;
    }

    .humus {
      a {
        &:hover, 
        &:focus {
          color: yellow;
        }
      }
    }

    @include at-breakpoint($tablet-portrait) {
      @include span-columns(4 omega,12);
    }

    @include at-breakpoint($tablet-landscape) {
      @include span-columns(4 omega,12);
      padding: 0;
      margin-top: 175px;

      .pipe {
        display: inline;
        margin: 0 5px;
      }

      span {
        display: inline;
      }
    }
  }
}