/**
 * HEADER THEMING
 */

.header {
  background-color: $main-grey;
  background-image: url(../images/header/baron-smartphone.jpg);
  background-repeat: no-repeat;
  background-position: center 50px;
  overflow: hidden;
  height: 310px;

  @include at-breakpoint($tablet-portrait) {
    background-image: url(../images/header/baron-tablet.jpg);
    background-position: center 5px;
    height: 400px
  }

  .top {
    @include span-columns(12,12);

    .social-links {
      @include span-columns(7,12);
    }
  }


  .logo {
    @include span-columns(12,12);

    .logo-wrapper {
      @include span-columns(8,12);
      @include isolate(3,12);
      margin-top: 20px;

      @include at-breakpoint($phone-landscape) {
        @include span-columns(6,12);
        @include isolate(4,12);
      }
    }
  }
}