/**
 * NAVIGATION THEMING
 */

.primary-navigation {
  position: relative;

  #mobile-nav-control {
    @include span-columns(5 omega,12);

    font-weight: $font-weight-bold;
    font-size: 26px;
    text-align: right;
    text-decoration: none;
    padding-top: 12px;

    &.open {
      font-size: 20px; 
      color: lighten($main-grey, 20%);
    }

    @include at-breakpoint($tablet-landscape) {
      display: none;
    }
  }

  .menu {
    position: absolute;
    top: 50px;
    width: 108%;
    margin-left: -10px;
    display: none;
    background-color: $main-grey;
    border-bottom: 3px solid lighten($main-grey, 20%);

    a {
      border-top: 3px solid lighten($main-grey, 20%);
      color: lighten($main-grey, 40%);
      display: block;
      text-align: center;
      text-decoration: none;
      padding: 10px 0;
      font-size: 22px;
      font-weight: $font-weight-medium;

      &.active {
        color: $white;
      }
    }
  }

  @include at-breakpoint($tablet-landscape) {
    @include span-columns(12,12);
    position: static;

    .menu {
      position: static;
      width: 100%;
      margin-top: 6.4%;
      margin-left: 0;
    
      display: block !important;
      background-color: transparent;
      border: none;

      .leaf {
        display: inline-block;

        &::after {
          content: '•';
          font-weight: $font-weight-bold;
          margin: 0 6px 0 8px;
        }

        &.last {
          &::after {
            content: '';
            margin: 0;
          }
        }
      }
      

      a {
        color: $main-grey;
        border: none;
        display: inline-block;
        padding: 10px 8px;
        /*
        border-top: 3px solid lighten($main-grey, 20%);
        color: lighten($main-grey, 40%);
        display: block;
        text-align: center;
        text-decoration: none;
        padding: 10px 0;
        font-size: 22px;
        font-weight: $font-weight-medium;

        
        */

        &.active {
          color: $main-grey;
          border-bottom: 2px solid $main-grey;
        }
      }
    }
  }



}