/**
 * Colors
 *
 * All colors used in the project should be declared here.
 */

$base-text-color: #333;
$base-selected-text-color: invert($base-text-color);
$base-selected-text-background-color: $base-text-color;

$white: #fff;

$base-link-color: $white;
$base-link-hover-color: $base-link-color;

$alt-link-color: $base-text-color;
$alt-link-hover-color: $alt-link-color;

$main-grey: #2d2d2f;
$desktop-main-grey: #242425;
$yellow: #d1b540;

$footer-grey: #575759;