/*
 * Design
 * 
 * Include all your design elements in this file.
 */

@import 'base/elements/header';
@import 'base/elements/footer';
@import 'base/elements/social';
@import 'base/elements/navigation';



/* Base link settings */
a {
  color: $base-link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $base-link-hover-color;
    text-decoration: underline;
  }
}

html {
  color: $base-text-color;

  ::selection,
  ::-moz-selection {
    color: $base-selected-text-color;
    background: $base-selected-text-background-color;
  }
}

.footer ul {
  list-style: none;

  li {
    list-style-type: none;
  }
}