/**
 * Layout
 *
 * All layout theming should go in this file
 *
 *
 * Grid settings
 *
 * Set your base-font-size in typography.scss
 * Calculate your grid settings based on your base-font-size
 * Calculate your em's online: pxtoem.com
 * 
 * Ex: 12 col 960px 
 * Total:   960px = 60em          
 * Columns: 60px = 3.750em                    (x12  = 45em)
 * Gutters: 20px = 1.250em                    (x11  = 13.75em)
 * Grid padding: 10px = $gutter-width/2;      (x2   = 1.250em)
 *                                            ----------------
 *                                                    60em      
 */

/* 
  GRID
  width:          1400px
  cols:           12;
  col-width:      88px; 
  gutter-width:   30px;
  padding:        10px;
*/

$total-columns: 12;
$column-width: 5.500em;
$gutter-width: 1.875em;
$grid-padding: $gutter-width/3;


/* Breakpoints */
/* default is smartphone portrait */
$phone-landscape: 30em lt-ie9;
$tablet-portrait: 40em lt-ie9;
$tablet-landscape: 55em lt-ie9;
$desktop: 65em lt-ie9;

.main {
  background-color: red;
  min-height: 200px;
}

body {
  background-color: red;

  @include at-breakpoint($phone-landscape) {
    background-color: orange;
  }

  @include at-breakpoint($tablet-portrait) {
    background-color: green;
  }

  @include at-breakpoint($tablet-landscape) {
    background-color: yellow;
  }
  @include at-breakpoint($desktop) {
    background-color: blue;
  }


}




/* Layout */

.container {
  @include container;
}

header, footer, .main {
  @extend .clearfix;
}
