/**
 * Typography
 *
 * All typography settings belong in this file.
 * px to em converter: pxtoem.com
 *
 * If you change the base-font-size, check your grid settings in base/layout.scss 
 */

$base-font-size: 16px;
$base-line-height: 24px;
$base-font-family: 'Exo', Helvetica, Arial, sans-serif;

$font-weight-thin:    100;
$font-weight-light:   300;
$font-weight-normal:  400;
$font-weight-medium:  500;
$font-weight-bold:    700;


// The font sizes for h1-h6.
$h1-font-size: 3 * $base-font-size !default;
$h2-font-size: 2.2 * $base-font-size !default;
$h3-font-size: 1.5 * $base-font-size !default;

/* Cleanup */

$h4-font-size: 1    * $base-font-size !default;
$h5-font-size: 0.83 * $base-font-size !default;
$h6-font-size: 0.75 * $base-font-size !default;


// 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
//    http://clagnut.com/blog/348/#c790
// 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
//    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
html {
  font-size: 100% * ($base-font-size / 16px); /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

// Addresses font-family inconsistency between 'textarea' and other form elements.
html,
button,
input,
select,
textarea {
  font-family: $base-font-family;
  font-weight: $font-weight-light;
}


/* Line-heights */
body{
  @include adjust-font-size-to($base-font-size);
}

h1 {
  @include adjust-font-size-to($h1-font-size);
}

h2 {
  @include adjust-font-size-to($h2-font-size);
  font-weight: $font-weight-thin;
  margin: 20px 0 15px 0;
}

h3 {
  @include adjust-font-size-to($h3-font-size);
  font-weight: $font-weight-medium;
  margin: 10px 0 15px 0;
}

h4 {
  @include adjust-font-size-to($h4-font-size);
}

h5 {
  @include adjust-font-size-to($h5-font-size);
}

h6 {
  @include adjust-font-size-to($h6-font-size);
}


