/*
 * EVENT THEMING
 */

.header {
  display: none;
}

.page-events {
  .main {
    background-color: #222;
    background-image: url(../images/event-background-2.png);
    background-repeat: repeat;
    margin-top: 3px;
  }

  h2 {
    color: $white;
  }

  .row-one {
    margin-bottom: 40px;

    .title-wrapper {
      @include container;
    }

    .pane-content {
      background-color: #333;
      border-top: 1px solid #555;
      border-bottom: 1px solid #555;

      .events.today {
        @include container;

      }
    }
  }
}

/* LAYOUT */

.events {

  .event {
    @include span-columns(12);
  }

  &.upcoming {
    .event {
      @include at-breakpoint($tablet-landscape) {
        @include span-columns(6,12);

        &.views-row-even {
          @include omega;
        }
      }
    }
  }

  .poster {
    @include span-columns(9 omega,12);

    @include at-breakpoint($phone-landscape) {
      @include span-columns(4,12);
    }

    @include at-breakpoint($tablet-portrait) {
      @include span-columns(5,12);
    }

    @include at-breakpoint($tablet-landscape) {
      @include span-columns(4,12); 
    }

    @include at-breakpoint($desktop-wide) {
      @include span-columns(5,14);
    }
  }

  .date-time-wrapper {
    @include span-columns(3,12);

    @include at-breakpoint($phone-landscape) {
      @include span-columns(8 omega,12);
    }

    @include at-breakpoint($tablet-portrait) {
      @include span-columns(7 omega,12);
    }

    @include at-breakpoint($tablet-landscape) {
      @include span-columns(8 omega,12); 
    }

    @include at-breakpoint($desktop) {
      @include span-columns(2,12);
    }

    @include at-breakpoint($desktop-wide) {
      @include span-columns(2,14);
    }
  }

  .date-wrapper {
    @include span-columns(12,12);

    @include at-breakpoint($phone-landscape) {
      @include span-columns(2,8);
    }

    @include at-breakpoint($tablet-portrait) {
      @include span-columns(2,11);
    }

    @include at-breakpoint($tablet-landscape) {
      @include span-columns(4,14); 
    }

    @include at-breakpoint($desktop) {
      @include span-columns(12,12); 
    }

    .day,
    .month {
      @include span-columns(12);
    }
  }

  &.today {

    .date-wrapper {
      @include at-breakpoint($phone-landscape) {
        @include span-columns(4,8);
      }

      @include at-breakpoint($tablet-portrait) {
        @include span-columns(4,11);
      }

      @include at-breakpoint($tablet-landscape) {
        @include span-columns(4,14); 
      }
    }

  }

  .time-wrapper {
    @include span-columns(12,12);

    @include at-breakpoint($phone-landscape) {
      @include span-columns(2,8);
    }
    @include at-breakpoint($tablet-portrait) {
      @include span-columns(2,11);
    }

    @include at-breakpoint($tablet-landscape) {
      @include span-columns(2,14); 
    }

    @include at-breakpoint($desktop) {
      @include span-columns(12,12); 
    }
  }

  .event-body {
    @include span-columns(9 omega,12);

    @include at-breakpoint($phone-landscape) {
      @include span-columns(8 omega,12);
    }

    @include at-breakpoint($tablet-portrait) {
      @include span-columns(7 omega,12);
    }

    @include at-breakpoint($tablet-landscape) {
      @include span-columns(8 omega,12); 
    }

    @include at-breakpoint($desktop) {
      @include span-columns(6 omega,12); 
    }

    @include at-breakpoint($desktop-wide) {
      @include span-columns(7 omega,14); 
    }
  }
}

/* THEMING */
.node-event {
  margin-bottom: 30px;
  color: $white;

  &.view-mode-full {
    margin-bottom: 20px;
  }

  .date-time-wrapper {
    @include at-breakpoint($phone-landscape) {
      margin-bottom: 10px;
    }
  }

  .date-wrapper,
  .time-wrapper {
    position: relative;
    margin-bottom: 5px;
    height: 62px;
    line-height: 0.8em; /* 24px */
    font-weight: $font-weight-bold;
  }

  .date-wrapper {
    background-color: lighten($main-grey, 40%);
    font-size: 1.875em; /* 30px */

    .today & {
      display: none;

      @include at-breakpoint($phone-landscape) {
        display: block;
      }

      background-color: $yellow;
    }

    .day {
      position: absolute;
      top: 2px;
      left: 2px;
    }

    .month {
      position: absolute;
      bottom: 2px;
      right: 2px;
      margin-right: 0;
      text-align: right;
    }

    .slash {
      display: block;
      width: 3px;
      height: 60px;
      background-color: $white;
      margin: 0 auto;
      text-transform: uppercase;
      text-indent: -9999em;
      @include rotate(55deg);
    }
  }

  .time-wrapper {
    background-color: lighten($main-grey, 20%);
    font-size: 1.5em; /* 24px */
    line-height: 1em; /* 24px */

    .start {
      position: absolute;
      bottom: 0;
      left: 2px;
    }
  }

  .event-body {
    .details {
      @include at-breakpoint($tablet-portrait) {
        display: block !important;
      }
    }

    .read-more,
    .read-less {
      a {
        display: block;
        background-color: lighten($main-grey, 20%);
        padding: 5px 0;
        margin-top: 10px;
        text-align: center;
      }

      @include at-breakpoint($tablet-portrait) {
        display: none !important;
      }
    }
  }
}
