/*
 * HOMEPAGE THEMING
 */

.homepage {
  @include span-columns(12);

  h2 {
    font-weight: $font-weight-thin;
  }

  .events {
    @include span-columns(12);

    &.row {
      padding-top: 40px;
      padding-bottom: 20px;
    }

    background-color: #222;
    background-image: url(../images/event-background-2.png);
    background-repeat: repeat;
    margin-top: 3px;
    color: $white;
    
    padding-bottom: 20px;
  }

  .social-blocks {
    @include span-columns(12);
    background-color: #999;
  }
}